@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>Login Page</title>
    <style>
        /* center the button */
        #loginButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #registerButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -250%);
        }
    </style>
</head>
<body>
    <form id="loginForm" runat="server">
        <div>
            <button id="loginButton" type="button" onclick="location.href='Signin';">Login</button>
            <button id="registerButton" type="button" onclick="    location.href = 'Register';">Register</button>
        </div>
    </form>
</body>
</html>
