@page
@model SignIn.Pages.IndexModel2
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>Login Page</title>
</head>
<style>
            /* center the form */
            #signin1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
</style>
<body>
    <form id="signin1" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Sign In">
</form>
</body>
</html>